In [1]:
from joblib import load
import pandas as pd

In [2]:
# Load the model
model_XGB1 = load('model_XGB1.joblib')

In [3]:
df = pd.read_csv("test.csv")
df

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [4]:
df.shape #Checking rows and columns

(110023, 13)

In [5]:
#Check for missing values:
df.isnull().sum() 

#No missing values

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [6]:
#Check for duplicates:
df.duplicated().sum()

#No duplicates

0

In [7]:
df.info() #Type of data and count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               110023 non-null  int64
 1   CustomerId       110023 non-null  int64
 2   Surname          110023 non-null  object
 3   CreditScore      110023 non-null  int64
 4   Geography        110023 non-null  object
 5   Gender           110023 non-null  object
 6   Age              110023 non-null  float64
 7   Tenure           110023 non-null  int64
 8   Balance          110023 non-null  float64
 9   NumOfProducts    110023 non-null  int64
 10  HasCrCard        110023 non-null  float64
 11  IsActiveMember   110023 non-null  float64
 12  EstimatedSalary  110023 non-null  float64
dtypes: float64(5), int64(5), object(3)
memory usage: 10.9+ MB

In [8]:
#Drop not needed features
df= df.drop(['CustomerId','Surname'], axis=1)
df

,id,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [9]:
#Convert F/M to 0/1 
df['Gender']= df['Gender'].map({'Male':1, 'Female':0})
df

,id,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,586,France,0,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,683,France,0,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,656,France,0,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,681,France,1,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,752,Germany,1,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,Spain,1,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,575,France,0,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,712,France,1,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,709,France,0,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,621,France,0,37.0,7,87848.39,1,1.0,0.0,24210.56

In [10]:
#One hot encoding for countries in geography 
df = pd.get_dummies(df, columns=['Geography'], dtype=int)
df

,id,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,165034,586,0,23.0,2,0.00,2,0.0,1.0,160976.75,1,0,0
1,165035,683,0,46.0,2,0.00,1,1.0,0.0,72549.27,1,0,0
2,165036,656,0,34.0,7,0.00,2,1.0,0.0,138882.09,1,0,0
3,165037,681,1,36.0,8,0.00,1,1.0,0.0,113931.57,1,0,0
4,165038,752,1,38.0,10,121263.62,1,1.0,0.0,139431.00,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,1,29.0,7,116099.82,1,1.0,1.0,148087.62,0,0,1
110019,275053,575,0,36.0,4,178032.53,1,1.0,1.0,42181.68,1,0,0
110020,275054,712,1,31.0,2,0.00,2,1.0,0.0,16287.38,1,0,0
110021,275055,709,0,32.0,3,0.00,1,1.0,1.0,158816.58,1,0,0
110022,275056,621,0,37.0,7,87848.39,1,1.0,0.0,24210.56,1,0,0

In [11]:
df['ZeroBalance'] = df['Balance'].apply(lambda x: 1 if x == 0 else 0)
df['IsSenior'] = df['Age'].apply(lambda x: 1 if x >= 60 else 0)
df['IsActive_by_CreditCard'] = df['HasCrCard'] * df['IsActiveMember']
df['ActiveMem_noProducts'] = df['NumOfProducts'] * df['IsActiveMember']
df['Credit_per_tenure'] = df['Tenure'] / df['CreditScore']
df['Salary_per_tenure'] = df['Tenure'] / df['EstimatedSalary']
df['Salary_Age_ratio'] = df['EstimatedSalary'] / df['Age']
df['Balance_Age_Ratio'] = df['Balance'] / df['Age']
df['Balance_Salary_Ratio'] = df['Balance'] / df['EstimatedSalary']
df['Products_Per_Tenure'] =  df['Tenure'] / df['NumOfProducts']
df

,id,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,ZeroBalance,IsSenior,IsActive_by_CreditCard,ActiveMem_noProducts,Credit_per_tenure,Salary_per_tenure,Salary_Age_ratio,Balance_Age_Ratio,Balance_Salary_Ratio,Products_Per_Tenure
0,165034,586,0,23.0,2,0.00,2,0.0,1.0,160976.75,...,1,0,0.0,2.0,0.003413,0.000012,6998.989130,0.000000,0.000000,1.0
1,165035,683,0,46.0,2,0.00,1,1.0,0.0,72549.27,...,1,0,0.0,0.0,0.002928,0.000028,1577.158043,0.000000,0.000000,2.0
2,165036,656,0,34.0,7,0.00,2,1.0,0.0,138882.09,...,1,0,0.0,0.0,0.010671,0.000050,4084.767353,0.000000,0.000000,3.5
3,165037,681,1,36.0,8,0.00,1,1.0,0.0,113931.57,...,1,0,0.0,0.0,0.011747,0.000070,3164.765833,0.000000,0.000000,8.0
4,165038,752,1,38.0,10,121263.62,1,1.0,0.0,139431.00,...,0,0,0.0,0.0,0.013298,0.000072,3669.236842,3191.147895,0.869703,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,1,29.0,7,116099.82,1,1.0,1.0,148087.62,...,0,0,1.0,1.0,0.012281,0.000047,5106.469655,4003.442069,0.783994,7.0
110019,275053,575,0,36.0,4,178032.53,1,1.0,1.0,42181.68,...,0,0,1.0,1.0,0.006957,0.000095,1171.713333,4945.348056,4.220613,4.0
110020,275054,712,1,31.0,2,0.00,2,1.0,0.0,16287.38,...,1,0,0.0,0.0,0.002809,0.000123,525.399355,0.000000,0.000000,1.0
110021,275055,709,0,32.0,3,0.00,1,1.0,1.0,158816.58,...,1,0,1.0,1.0,0.004231,0.000019,4963.018125,0.000000,0.000000,3.0
110022,275056,621,0,37.0,7,87848.39,1,1.0,0.0,24210.56,...,0,0,0.0,0.0,0.011272,0.000289,654.339459,2374.280811,3.628515,7.0

In [12]:
#Drop features
df= df.drop(['Tenure','IsActiveMember','Balance','EstimatedSalary'], axis=1)
df

,id,CreditScore,Gender,Age,NumOfProducts,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,ZeroBalance,IsSenior,IsActive_by_CreditCard,ActiveMem_noProducts,Credit_per_tenure,Salary_per_tenure,Salary_Age_ratio,Balance_Age_Ratio,Balance_Salary_Ratio,Products_Per_Tenure
0,165034,586,0,23.0,2,0.0,1,0,0,1,0,0.0,2.0,0.003413,0.000012,6998.989130,0.000000,0.000000,1.0
1,165035,683,0,46.0,1,1.0,1,0,0,1,0,0.0,0.0,0.002928,0.000028,1577.158043,0.000000,0.000000,2.0
2,165036,656,0,34.0,2,1.0,1,0,0,1,0,0.0,0.0,0.010671,0.000050,4084.767353,0.000000,0.000000,3.5
3,165037,681,1,36.0,1,1.0,1,0,0,1,0,0.0,0.0,0.011747,0.000070,3164.765833,0.000000,0.000000,8.0
4,165038,752,1,38.0,1,1.0,0,1,0,0,0,0.0,0.0,0.013298,0.000072,3669.236842,3191.147895,0.869703,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,1,29.0,1,1.0,0,0,1,0,0,1.0,1.0,0.012281,0.000047,5106.469655,4003.442069,0.783994,7.0
110019,275053,575,0,36.0,1,1.0,1,0,0,0,0,1.0,1.0,0.006957,0.000095,1171.713333,4945.348056,4.220613,4.0
110020,275054,712,1,31.0,2,1.0,1,0,0,1,0,0.0,0.0,0.002809,0.000123,525.399355,0.000000,0.000000,1.0
110021,275055,709,0,32.0,1,1.0,1,0,0,1,0,1.0,1.0,0.004231,0.000019,4963.018125,0.000000,0.000000,3.0
110022,275056,621,0,37.0,1,1.0,1,0,0,0,0,0.0,0.0,0.011272,0.000289,654.339459,2374.280811,3.628515,7.0

In [13]:
X = df.drop(columns='id', axis=1) #Inputs
X

,CreditScore,Gender,Age,NumOfProducts,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,ZeroBalance,IsSenior,IsActive_by_CreditCard,ActiveMem_noProducts,Credit_per_tenure,Salary_per_tenure,Salary_Age_ratio,Balance_Age_Ratio,Balance_Salary_Ratio,Products_Per_Tenure
0,586,0,23.0,2,0.0,1,0,0,1,0,0.0,2.0,0.003413,0.000012,6998.989130,0.000000,0.000000,1.0
1,683,0,46.0,1,1.0,1,0,0,1,0,0.0,0.0,0.002928,0.000028,1577.158043,0.000000,0.000000,2.0
2,656,0,34.0,2,1.0,1,0,0,1,0,0.0,0.0,0.010671,0.000050,4084.767353,0.000000,0.000000,3.5
3,681,1,36.0,1,1.0,1,0,0,1,0,0.0,0.0,0.011747,0.000070,3164.765833,0.000000,0.000000,8.0
4,752,1,38.0,1,1.0,0,1,0,0,0,0.0,0.0,0.013298,0.000072,3669.236842,3191.147895,0.869703,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,570,1,29.0,1,1.0,0,0,1,0,0,1.0,1.0,0.012281,0.000047,5106.469655,4003.442069,0.783994,7.0
110019,575,0,36.0,1,1.0,1,0,0,0,0,1.0,1.0,0.006957,0.000095,1171.713333,4945.348056,4.220613,4.0
110020,712,1,31.0,2,1.0,1,0,0,1,0,0.0,0.0,0.002809,0.000123,525.399355,0.000000,0.000000,1.0
110021,709,0,32.0,1,1.0,1,0,0,1,0,1.0,1.0,0.004231,0.000019,4963.018125,0.000000,0.000000,3.0
110022,621,0,37.0,1,1.0,1,0,0,0,0,0.0,0.0,0.011272,0.000289,654.339459,2374.280811,3.628515,7.0

In [14]:
y_pred= model_XGB1.predict_proba(X)
PREDICTIONS= []
for i in range (len(y_pred)):
    PREDICTIONS.append(y_pred[i][1])
PREDICTIONS

[0.03931465,
 0.8337241,
 0.022249833,
 0.21152638,
 0.36902958,
 0.022142483,
 0.03470759,
 0.09952129,
 0.7291171,
 0.0087560555,
 0.10774574,
 0.019055026,
 0.011363192,
 0.13393433,
 0.6377085,
 0.018619489,
 0.09433406,
 0.4987223,
 0.017404621,
 0.11691254,
 0.018147472,
 0.17621739,
 0.28888693,
 0.008580114,
 0.6184555,
 0.13476309,
 0.95356363,
 0.59407806,
 0.08062753,
 0.49661946,
 0.0316823,
 0.056222644,
 0.14328016,
 0.13876557,
 0.037141528,
 0.00707979,
 0.8257997,
 0.03310693,
 0.13155085,
 0.91480637,
 0.5367958,
 0.21580783,
 0.08160146,
 0.008782657,
 0.24222521,
 0.17759117,
 0.011332272,
 0.04669541,
 0.006918644,
 0.40095448,
 0.053068977,
 0.006861948,
 0.010358156,
 0.5332485,
 0.01382899,
 0.08144383,
 0.055513803,
 0.01395157,
 0.01181641,
 0.12200408,
 0.014530294,
 0.059128877,
 0.27500913,
 0.20931971,
 0.025570743,
 0.010667537,
 0.9019253,
 0.04023774,
 0.07171059,
 0.014077248,
 0.16838305,
 0.5634678,
 0.40946448,
 0.0692797,
 0.017568447,
 0.44610664,
 0.112137474,
 0.04849981,
 0.06674842,
 0.015448191,
 0.015442029,
 0.018602483,
 0.46218756,
 0.032572392,
 0.3745565,
 0.10758518,
 0.061061364,
 0.42149726,
 0.29803452,
 0.05887591,
 0.21367611,
 0.024240624,
 0.031118752,
 0.019248504,
 0.013808255,
 0.02779186,
 0.93879265,
 0.022689398,
 0.3655973,
 0.15100776,
 0.013879923,
 0.06979358,
 0.00787841,
 0.5983269,
 0.7972225,
 0.7879018,
 0.07670829,
 0.035498966,
 0.0078932205,
 0.07392563,
 0.20724316,
 0.5615516,
 0.21308614,
 0.04756039,
 0.1290244,
 0.017674118,
 0.016694156,
 0.81068075,
 0.6185761,
 0.03826598,
 0.01459487,
 0.028604163,
 0.006755514,
 0.029797738,
 0.39227697,
 0.173981,
 0.028993307,
 0.010580533,
 0.75949275,
 0.02480267,
 0.024718925,
 0.15941027,
 0.955613,
 0.07651461,
 0.026617551,
 0.112367764,
 0.10204975,
 0.056148514,
 0.56617564,
 0.12692715,
 0.01910682,
 0.08597469,
 0.0153901065,
 0.020071704,
 0.4620183,
 0.7448595,
 0.027849017,
 0.7591241,
 0.2320373,
 0.035461035,
 0.042423118,
 0.030836603,
 0.011628646,
 0.9629973,
 0.95590204,
 0.012333701,
 0.018832628,
 0.1431776,
 0.09466226,
 0.12752809,
 0.31549084,
 0.19990025,
 0.3412999,
 0.8440146,
 0.6697994,
 0.0923833,
 0.37323996,
 0.70122373,
 0.78046864,
 0.67474616,
 0.7002192,
 0.013725585,
 0.1354373,
 0.09233372,
 0.0149824135,
 0.11121307,
 0.50213647,
 0.9391231,
 0.044804305,
 0.031784367,
 0.8969845,
 0.3326882,
 0.032862097,
 0.004411127,
 0.027007308,
 0.8971781,
 0.40990102,
 0.04784378,
 0.18542452,
 0.09171852,
 0.11205139,
 0.91591966,
 0.814116,
 0.102410324,
 0.19706069,
 0.26468074,
 0.97965586,
 0.014799723,
 0.005125708,
 0.0643653,
 0.14823161,
 0.0074342326,
 0.51917094,
 0.012161351,
 0.10492106,
 0.01742676,
 0.009685595,
 0.013575003,
 0.327429,
 0.030702008,
 0.40848663,
 0.0051597655,
 0.04679306,
 0.01126465,
 0.07877644,
 0.18836176,
 0.008425537,
 0.010437401,
 0.36638984,
 0.452862,
 0.010126334,
 0.12264338,
 0.2857783,
 0.04272761,
 0.7270263,
 0.5857245,
 0.26720026,
 0.85918516,
 0.4856253,
 0.01309471,
 0.017998321,
 0.015198703,
 0.0098064225,
 0.4142965,
 0.14523944,
 0.76750857,
 0.38103628,
 0.04664843,
 0.97566766,
 0.04816364,
 0.056294862,
 0.17998022,
 0.19108766,
 0.4193279,
 0.94257885,
 0.156854,
 0.02337752,
 0.009400704,
 0.10955634,
 0.010180819,
 0.44387087,
 0.13945967,
 0.04825342,
 0.017750295,
 0.02902325,
 0.12211055,
 0.021525335,
 0.019208936,
 0.13485892,
 0.6223215,
 0.006578251,
 0.18907721,
 0.07958802,
 0.051492058,
 0.018248536,
 0.020109817,
 0.56476396,
 0.03586816,
 0.36591843,
 0.039194785,
 0.052487776,
 0.005174271,
 0.029622328,
 0.13712725,
 0.04241044,
 0.18212418,
 0.10483582,
 0.058784064,
 0.8401872,
 0.023388207,
 0.03607996,
 0.22225818,
 0.14447257,
 0.007062902,
 0.77153647,
 0.24187706,
 0.041245025,
 0.11330592,
 0.10673084,
 0.048767883,
 0.19616601,
 0.27866033,
 0.44352368,
 0.08567137,
 0.12820788,
 0.0049303463,
 0.056167435,
 0.047712415,
 0.6920033,
 0.010050718,
 0.004895198,
 0.019042833,
 0.22251064,
 0.2874746,
 0.28470504,
 0.18618856,
 0.09511372,
 0.028435374,
 0.02053371,
 0.0064461296,
 0.14392066,
 0.06118687,
 0.9429117,
 0.3171476,
 0.054417398,
 0.10529994,
 0.0062127784,
 0.11707798,
 0.042192683,
 0.032766506,
 0.12104006,
 0.071434155,
 0.012795029,
 0.036558516,
 0.09340352,
 0.039784547,
 0.8810857,
 0.059082948,
 0.41156772,
 0.19202793,
 0.010875709,
 0.8995837,
 0.006985781,
 0.1448606,
 0.13838999,
 0.6642166,
 0.2043404,
 0.006442328,
 0.04810887,
 0.019935515,
 0.6506941,
 0.041191526,
 0.007780779,
 0.004199232,
 0.16851369,
 0.038828906,
 0.103565454,
 0.040904425,
 0.007273884,
 0.00695473,
 0.03462138,
 0.30624515,
 0.8699632,
 0.010757837,
 0.26227397,
 0.13495792,
 0.61659545,
 0.0065433457,
 0.070822164,
 0.100933,
 0.043964684,
 0.009984493,
 0.01630094,
 0.060236864,
 0.3645485,
 0.048160866,
 0.055691354,
 0.03523,
 0.5050265,
 0.027795907,
 0.0889787,
 0.18732224,
 0.06346391,
 0.06413177,
 0.2646466,
 0.0071913023,
 0.023079608,
 0.023254592,
 0.057521824,
 0.00465123,
 0.044439863,
 0.054310642,
 0.8494739,
 0.012307405,
 0.009496656,
 0.6915398,
 0.033842452,
 0.49450332,
 0.022054309,
 0.018887457,
 0.017502833,
 0.71313083,
 0.062937,
 0.10565051,
 0.35051063,
 0.6679922,
 0.030769404,
 0.05175002,
 0.60888374,
 0.9688468,
 0.84318227,
 0.12895717,
 0.31760147,
 0.0059977253,
 0.008098221,
 0.123381205,
 0.7693632,
 0.7197894,
 0.043184053,
 0.011378336,
 0.043351647,
 0.3767905,
 0.070901655,
 0.0076584136,
 0.1647273,
 0.0033866048,
 0.01355711,
 0.011259887,
 0.6026223,
 0.03685799,
 0.5745455,
 0.04908383,
 0.6154809,
 0.71561676,
 0.011046236,
 0.034614075,
 0.037651703,
 0.022958595,
 0.060410354,
 0.092004634,
 0.065404095,
 0.89189917,
 0.0037912072,
 0.071094655,
 0.11736654,
 0.0722161,
 0.11278848,
 0.3125234,
 0.009549787,
 0.03323672,
 0.23437326,
 0.15107283,
 0.33726287,
 0.08071118,
 0.31111187,
 0.20181477,
 0.023679508,
 0.9338852,
 0.008752394,
 0.22605036,
 0.038979374,
 0.25648946,
 0.11770786,
 0.051712885,
 0.0340187,
 0.023478914,
 0.08794478,
 0.06918397,
 0.1342895,
 0.10133693,
 0.03769614,
 0.48677063,
 0.030687954,
 0.21401405,
 0.13404858,
 0.020753838,
 0.020344239,
 0.12153914,
 0.0066245864,
 0.0141995335,
 0.84011376,
 0.56523526,
 0.018486077,
 0.11672568,
 0.06934089,
 0.2784096,
 0.3426421,
 0.049761258,
 0.03748511,
 0.21696886,
 0.2897712,
 0.0094821155,
 0.056151535,
 0.09040535,
 0.0064120884,
 0.5678727,
 0.13119388,
 0.08676954,
 0.012889737,
 0.18539259,
 0.07401715,
 0.107225284,
 0.62458116,
 0.56364757,
 0.0071340497,
 0.10885956,
 0.24361925,
 0.10891397,
 0.534291,
 0.012207706,
 0.29257607,
 0.03358477,
 0.031806607,
 0.046664875,
 0.24867728,
 0.03703901,
 0.01853755,
 0.09146487,
 0.02305853,
 0.026360614,
 0.0072038923,
 0.16630505,
 0.14377029,
 0.0117762275,
 0.057192583,
 0.11871001,
 0.06891399,
 0.0062031616,
 0.12453719,
 0.7209168,
 0.012733955,
 0.10215534,
 0.1873003,
 0.059912205,
 0.013195125,
 0.008501361,
 0.16184379,
 0.6331573,
 0.62209207,
 0.058003526,
 0.55894506,
 0.2855579,
 0.040516995,
 0.77628934,
 0.14605911,
 0.12876594,
 0.028543763,
 0.011818437,
 0.5974041,
 0.050532117,
 0.05785365,
 0.13599849,
 0.0033131219,
 0.018303843,
 0.89431983,
 0.1237386,
 0.011317162,
 0.21796359,
 0.6904987,
 0.17154397,
 0.037038554,
 0.7120055,
 0.18521838,
 0.013530354,
 0.4121706,
 0.18791941,
 0.51333576,
 0.6216952,
 0.0076180804,
 0.010191405,
 0.052732952,
 0.15255055,
 0.021503871,
 0.00919246,
 0.11669921,
 0.34456322,
 0.008151294,
 0.014913844,
 0.029834269,
 0.68566644,
 0.006836541,
 0.026340265,
 0.11738679,
 0.386454,
 0.17171775,
 0.2782514,
 0.2531575,
 0.06085037,
 0.014962448,
 0.39162531,
 0.39768884,
 0.45605946,
 0.045464143,
 0.24459863,
 0.6153159,
 0.79082847,
 0.14686818,
 0.018120931,
 0.028022705,
 0.008800975,
 0.014175331,
 0.27618024,
 0.017634705,
 0.08581828,
 0.010146012,
 0.45553288,
 0.17267333,
 0.040150892,
 0.108028926,
 0.04299708,
 0.006542332,
 0.13033883,
 0.028975364,
 0.056868773,
 0.040561974,
 0.09127085,
 0.62236565,
 0.020128755,
 0.031321835,
 0.22921492,
 0.0043707592,
 0.13729563,
 0.015679676,
 0.009816443,
 0.73878926,
 0.015415814,
 0.64530206,
 0.07286899,
 0.091828756,
 0.0866987,
 0.024298515,
 0.021017248,
 0.3641012,
 0.78557533,
 0.073654324,
 0.81987697,
 0.07615973,
 0.95283794,
 0.5546937,
 0.049737107,
 0.03469115,
 0.017349565,
 0.2917068,
 0.7831927,
 0.029403174,
 0.56603825,
 0.0076126675,
 0.017837139,
 0.030881183,
 0.91401845,
 0.4513485,
 0.08491368,
 0.37840283,
 0.026239311,
 0.38113198,
 0.019175706,
 0.0149373645,
 0.1685005,
 0.0078417305,
 0.07958303,
 0.1446872,
 0.056651257,
 0.018573677,
 0.08727169,
 0.86819196,
 0.023457611,
 0.16710816,
 0.0047607706,
 0.2924568,
 0.012279197,
 0.00908169,
 0.012748866,
 0.10357991,
 0.011189806,
 0.06284006,
 0.11544162,
 0.13863575,
 0.60975564,
 0.057643197,
 0.2968745,
 0.008196224,
 0.028210333,
 0.18451583,
 0.01664959,
 0.13909248,
 0.032339483,
 0.26647684,
 0.009690755,
 0.005977247,
 0.07049316,
 0.65768254,
 0.008535573,
 0.74644524,
 0.9528807,
 0.2771321,
 0.010241925,
 0.08428211,
 0.3109538,
 0.1352155,
 0.033183824,
 0.8952242,
 0.011830785,
 0.5394433,
 0.033319235,
 0.022198182,
 0.6540977,
 0.054718837,
 0.20726179,
 0.30799758,
 0.05499638,
 0.12931412,
 0.0174546,
 0.17815664,
 0.8358326,
 0.014073641,
 0.45609066,
 0.39437857,
 0.0381713,
 0.094223656,
 0.040518034,
 0.019069256,
 0.2540851,
 0.60771006,
 0.008196573,
 0.77891374,
 0.16358708,
 0.042021807,
 0.15439028,
 0.0553955,
 0.17817532,
 0.21550256,
 0.058788124,
 0.3955404,
 0.043591253,
 0.08758527,
 0.32497427,
 0.14382859,
 0.87179613,
 0.89248544,
 0.21354726,
 0.071699336,
 0.6827301,
 0.04173496,
 0.054997336,
 0.39314416,
 0.095563725,
 0.20980865,
 0.2101317,
 0.08252,
 0.022960132,
 0.01874857,
 0.03271796,
 0.0647395,
 0.10046812,
 0.05765504,
 0.04534654,
 0.81661254,
 0.2575921,
 0.050072953,
 0.8635946,
 0.87580746,
 0.081892,
 0.030252658,
 0.010172274,
 0.15723021,
 0.3131506,
 0.7260207,
 0.033724945,
 0.18547611,
 0.073848285,
 0.022982568,
 0.16590305,
 0.057194527,
 0.018258277,
 0.12325267,
 0.098591834,
 0.12242238,
 0.50600904,
 0.007855889,
 0.10727742,
 0.3673634,
 0.884452,
 0.0055101467,
 0.003340404,
 0.8617942,
 0.12745556,
 0.093487054,
 0.025887115,
 0.9333341,
 0.36798215,
 0.044267975,
 0.013542037,
 0.02190198,
 0.005492743,
 0.28870812,
 0.95058304,
 0.09674463,
 0.35826308,
 0.039821133,
 0.005814585,
 0.14356141,
 0.22592191,
 0.07344079,
 0.87756866,
 0.005144951,
 0.562613,
 0.31488296,
 0.10393577,
 0.013531442,
 0.017406832,
 0.067885995,
 0.10201394,
 0.019445838,
 0.04330008,
 0.02218519,
 0.1368975,
 0.1211029,
 0.026920617,
 0.054269474,
 0.06195036,
 0.0485321,
 0.10533686,
 0.036894787,
 0.007694639,
 0.038416144,
 0.21728106,
 0.064788096,
 0.061791133,
 0.45453268,
 0.020011384,
 0.08200681,
 0.051265404,
 0.016999248,
 0.15200402,
 0.031288862,
 0.007817287,
 0.010054874,
 0.07216511,
 0.008289767,
 0.010218999,
 0.04104854,
 0.14907534,
 0.06830978,
 0.5091988,
 0.06173191,
 0.015028562,
 0.65251404,
 0.4583219,
 0.21533585,
 0.009935185,
 0.021848867,
 0.9168358,
 0.38318822,
 0.46048847,
 0.03504953,
 0.011683673,
 0.20296586,
 0.9667791,
 0.3968353,
 0.013838644,
 0.7323033,
 0.53449404,
 0.006642503,
 0.8468801,
 0.861666,
 0.015980141,
 0.37755567,
 0.10005152,
 0.037267953,
 0.60657793,
 0.07355668,
 0.032321922,
 0.6444885,
 0.036836218,
 0.012483379,
 0.123892695,
 0.018230878,
 0.07995889,
 0.1413299,
 0.0706863,
 0.011743521,
 0.19860868,
 0.09598199,
 0.04198699,
 0.19818829,
 0.030380394,
 0.13307612,
 0.040428035,
 0.40267432,
 0.05834461,
 0.26240957,
 0.14024009,
 0.19868237,
 0.05074061,
 0.5004097,
 0.017503684,
 0.9804401,
 0.021992667,
 0.053627547,
 0.9146532,
 0.02037159,
 0.16513929,
 0.063649416,
 0.02320936,
 0.38503048,
 0.036387883,
 0.89975613,
 0.09136302,
 0.79078203,
 0.07757017,
 0.06747108,
 0.03462805,
 0.089389026,
 0.020797908,
 0.82913655,
 0.6316675,
 0.9376749,
 0.06882334,
 0.006783821,
 0.26865086,
 0.26629332,
 0.025393035,
 0.4853052,
 0.0053629857,
 0.02813714,
 0.07639711,
 0.11733679,
 0.33898094,
 0.41048607,
 0.038140174,
 0.83791405,
 0.07227857,
 0.70076305,
 0.0129829915,
 0.021285433,
 0.029764123,
 0.020265618,
 0.043490488,
 0.96833044,
 0.6569393,
 0.010272766,
 0.008316766,
 0.8911025,
 0.00622389,
 0.8940695,
 0.13520178,
 0.2512109,
 0.88003063,
 0.6530087,
 0.09950091,
 0.09127142,
 0.7632769,
 0.033073,
 0.08388166,
 0.6219442,
 0.20116717,
 0.019060709,
 0.13453062,
 0.06066515,
 0.042039447,
 0.16523515,
 0.06819708,
 0.04468613,
 0.12802275,
 0.40856618,
 0.05028319,
 0.0467107,
 0.715438,
 0.07905549,
 0.039249066,
 0.058144793,
 0.26705387,
 0.13172303,
 0.62545156,
 0.08810937,
 0.023296973,
 0.036340293,
 0.06277577,
 0.04128749,
 0.025997637,
 0.021192739,
 0.041222177,
 0.054147396,
 0.035701435,
 0.012446096,
 0.28766188,
 0.94462115,
 0.041622467,
 0.01301625,
 0.10404528,
 0.23037075,
 0.042137317,
 0.405913,
 0.033361882,
 0.25603724,
 0.015086325,
 0.009535505,
 0.0753145,
 0.06005235,
 0.0075291903,
 0.45096105,
 0.07960393,
 0.06919438,
 0.011900912,
 0.92760074,
 0.06316087,
 0.007033795,
 0.44832993,
 0.109779544,
 0.03658881,
 ...]

In [15]:
df['Exited']= PREDICTIONS
df

,id,CreditScore,Gender,Age,NumOfProducts,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,ZeroBalance,IsSenior,IsActive_by_CreditCard,ActiveMem_noProducts,Credit_per_tenure,Salary_per_tenure,Salary_Age_ratio,Balance_Age_Ratio,Balance_Salary_Ratio,Products_Per_Tenure,Exited
0,165034,586,0,23.0,2,0.0,1,0,0,1,0,0.0,2.0,0.003413,0.000012,6998.989130,0.000000,0.000000,1.0,0.039315
1,165035,683,0,46.0,1,1.0,1,0,0,1,0,0.0,0.0,0.002928,0.000028,1577.158043,0.000000,0.000000,2.0,0.833724
2,165036,656,0,34.0,2,1.0,1,0,0,1,0,0.0,0.0,0.010671,0.000050,4084.767353,0.000000,0.000000,3.5,0.022250
3,165037,681,1,36.0,1,1.0,1,0,0,1,0,0.0,0.0,0.011747,0.000070,3164.765833,0.000000,0.000000,8.0,0.211526
4,165038,752,1,38.0,1,1.0,0,1,0,0,0,0.0,0.0,0.013298,0.000072,3669.236842,3191.147895,0.869703,10.0,0.369030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,570,1,29.0,1,1.0,0,0,1,0,0,1.0,1.0,0.012281,0.000047,5106.469655,4003.442069,0.783994,7.0,0.036225
110019,275053,575,0,36.0,1,1.0,1,0,0,0,0,1.0,1.0,0.006957,0.000095,1171.713333,4945.348056,4.220613,4.0,0.114013
110020,275054,712,1,31.0,2,1.0,1,0,0,1,0,0.0,0.0,0.002809,0.000123,525.399355,0.000000,0.000000,1.0,0.020721
110021,275055,709,0,32.0,1,1.0,1,0,0,1,0,1.0,1.0,0.004231,0.000019,4963.018125,0.000000,0.000000,3.0,0.138268
110022,275056,621,0,37.0,1,1.0,1,0,0,0,0,0.0,0.0,0.011272,0.000289,654.339459,2374.280811,3.628515,7.0,0.230399

In [16]:
selected_columns = df[['id', 'Exited']]

# Save the selected columns to a new CSV file
selected_columns.to_csv('Results.csv', index=False)